<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
	<!-- BootstrapUI -->
	<script src="/js/ui-bootstrap-0.13.4.js"></script>
	<script src="/js/ui-bootstrap-tpls-0.13.4.js"></script>
	<link rel="stylesheet" href="/css/ui-bootstrap-0.13.4-csp.css" />
	<!-- Bootstrap -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
	
	<!-- Latest compiled and minified JavaScript -->
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
	
</head>
<body>
	
</body>
</html>